$grey-1: #333;
$grey-2: #4F4F4F;
$grey-3: #828282;
$grey-4: #BDBDBD;
$grey-5: #E0E0E0;
$grey-6: #F2F2F2;
$grey-7: #F2F2F6;

$yellow: #F2C94C;
$yellow-2: #FFC130;
$orange: #F2994A;
$red: #EB5757;

$green-1: #219653;
$green-2: #27AE60;
$green-3: #6FCF97;
$green-4: #75D57F;

$blue-1: #2F80ED;
$blue-2: #2D9CDB;
$blue-3: #56CCF2;

$purple-1: #9B51E0;
$purple-2: #BB6BD9;

$primary-0: #EBF4FF;
$primary-100: #CCE5FE;
$primary-500: #007BFB;
$primary-900: #111D3B;

$base-0: #FFF;
$base-100: #F4F6FB;
$base-300: #E2E7F3;
$base-400: #BCC3D2;
$base-500: #8C94A8;
$base-900: #282D3C;

$primary: #050507;
$primary-grey: $grey-7;
$secondary: #767679;
$accent: #4E76FC;
$light: $base-0;
$black: #000000;
$color-brand: $primary-500;

$basic-interval: 250ms;
$font-brand: 'CoFo Sans', sans-serif;
$font-second: 'SF Pro Display', sans-serif;